:root {
  --font-body: 'Lora', serif;
  --font-heading: 'Oswald', sans-serif;

  --brown-1: #fefdfc;
  --brown-2: #fcf9f6;
  --brown-3: #f6eee7;
  --brown-4: #f0e4d9;
  --brown-5: #ebdaca;
  --brown-6: #e4cdb7;
  --brown-7: #dcbc9f;
  --brown-8: #cea37e;
  --brown-9: #ad7f58;
  --brown-10: #a07553;
  --brown-11: #815e46;
  --brown-12: #3e332e;

  --sand-1: #fdfdfc;
  --sand-2: #f9f9f8;
  --sand-3: #f1f0ef;
  --sand-4: #e9e8e6;
  --sand-5: #e2e1de;
  --sand-6: #dad9d6;
  --sand-7: #cfceca;
  --sand-8: #bcbbb5;
  --sand-9: #8d8d86;
  --sand-10: #82827c;
  --sand-11: #63635e;
  --sand-12: #21201c;

  --clr-primary: var(--brown-9);
  --clr-primary-hover: var(--brown-10);
  --clr-text-primary: var(--sand-12);
  --clr-text-secondary: var(--sand-11);
  --clr-text-faded: var(--sand-10);
  --clr-background-app: var(--sand-1);
  --clr-background-ui: var(--sand-2);
  --clr-border-ui: var(--sand-4);

  --radii: 4px;

  --text-container-width: 700px;
  --wrapper-container-width: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brown-1: #12110f;
    --brown-2: #1c1816;
    --brown-3: #28211d;
    --brown-4: #322922;
    --brown-5: #3e3128;
    --brown-6: #4d3c2f;
    --brown-7: #614a39;
    --brown-8: #7c5f46;
    --brown-9: #ad7f58;
    --brown-10: #b88c67;
    --brown-11: #dbb594;
    --brown-12: #f2e1ca;

    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
em,
i,
b,
strong,
small,
li {
  font-size: inherit;
  &::selection {
    background-color: var(--sand-6);
    color: var(--sand-12);
  }
}


html,
body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-text-primary);
  background-color: var(--clr-background-app);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: var(--wrapper-container-width);
  margin-inline: auto;
  padding: min(10rem, 10vh) 1.5rem;
}

.container > * > p,
.container > * > h1,
.container > * > h2,
.container > * > h3,
.container > * > h4,
.container > * > h5,
.container > * > h6 {
  max-width: var(--text-container-width);
  margin-inline: auto;
  margin-block: 1.25rem;
}

.container header h1 {
  margin-bottom: 0.5rem;
  max-width: 550px;
  margin-left: 0;
}

.container header p {
  margin-top: 0.5rem;
}

.container header {
  margin-bottom: 3rem;
  max-width: var(--text-container-width);
  margin-inline: auto;
}

.container > section:not(:last-child) {
  margin-bottom: 3rem;
}

.container > section > figure {
  margin-block: 2rem;
}

h1 {
  font-family: var(--font-heading);
  font-size: 2rem;
  line-height: 1.35;
}

h2 {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 1.35;
}

h3 {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 1.35;
}

p {
  font-size: 1.125rem;
}

.muted {
  color: var(--clr-text-secondary);
}

ol,
ul,
li {
  list-style: none;
}

